.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.gamebody{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s;
  animation: fadeIn 1.5s;
}

.slider{
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.buttonImage{
  position: absolute;
  bottom: 20px;
  left: 90px;
  display: flex;
  flex-direction: row;
}

.imgBtn{
  height: 120px;
  width: 190px;
  margin: 10px;
  border: 0.5px solid #d0d0d05e;
  border-radius: 10px;
}

.imgBtn:hover{
  border: 3px solid #d0d0d0;
}

.gameDetails{
  position: absolute;
  top: 200px;
  left: 100px;
  transition: 1.5s;
}

.gameDetails h1{
  color:#eaeaea;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.527);
}
.gameDetails h4{
  color:#eaeaea;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.527);
}
.gameDetails button{
  display: inline-block;
  padding: 12px 20px;
  border: 0;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.gameDetails button:hover{
  background-color: rgba(255,255,255,0.2);
}

.imageBtnText{
  position: relative;
  color: white;
  font-size: medium;
  left: 15px;
  top:120px;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.527);
}

.gameTitle{
  position: absolute;
  top: 20px;
  left: 100px;
  color: white;
  display: flex;
  flex-direction: row;
}

.homeImage{
  position: relative;
  align-self: center;
  fill: white;
  height: 25px;
  top: 4px;
  margin-right: 15px;
}
