#navigation {
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.34px;
    position: absolute;
    letter-spacing: 0.1em;
    width: 100%;
    padding: 10px 8rem;
}

.navbar-toggler {
    margin-top: 0rem;
}

.navbar-collapse {
    margin-left: 5rem;
    font-weight: 500;
}

.nav-link {
    width: 6rem;
}

.nav-link:hover {
    color: #ff5fe7 !important;
}

.navbar-brand img {
    width: 50px;
}
.navbar-brand img:hover {
    transform: scale(1.6);
}
.nav-left {
    margin-left: 8rem;
}
.nav-right {
    margin-left: 6rem;
    display: flex;
    justify-content: space-evenly;
}
.nav-right button {
    color: white;
    background-image: linear-gradient(to right, #6105fe, #ff5fe7);
    border: 0;
    border-radius: 17px;
    width: 5rem;
    height: 1.8rem;
    font-size: 12px;
    margin-right: 0rem;
    cursor: pointer;
    margin-top: 0rem;
    padding: 0rem 0rem;
}
.nav-right button:hover {
    color: #6105fe;
    background-image: linear-gradient(to right,white, white);
    transform: scale(1.2);
}

@media screen and (min-width: 320px) {
    #navigation {
        padding: 8px 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #navigation {
        padding: 10px 5rem;
    }
    .nav-left {
        margin-left: 2rem;
    }
    .nav-right {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    #navigation {
        padding: 10px 8rem;
    }
    .nav-left {
        margin-left: 8rem;
    }
    .nav-right {
        margin-left: 6rem;
    }
}

@media screen and (min-width: 1440px) {
    #navigation {
        padding: 15px 10rem;
    }
    .nav-left {
        margin-left: 11rem;
    }
    .nav-right {
        margin-left: 10rem;
    }
}

