.header {
  display: flex;
  background: rgba(151, 118, 85, 0.739);
  color: rgb(251, 247, 18);
  text-align: left;
  text-decoration: none;
  height: 80px;
}

.header h1 {
  padding-left: 20px;
  font-size: 10;
  
}

.header .logo,.logo1 {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

.container {
  background:  rgba(125, 73, 24, 0.739);
  margin-top:0px;
  width: 100%;
  height: 650px;
}

.player h1 {
  transform: translate(22%,40%);
  margin: 0 auto; 
}   

.player img {
  width: 75px;
  height: 75px;
  display: block;
  padding:20px;
  transform: translate(-270%,20%);
  margin: 0 auto; 
}

.player img:hover{
  background:rgb(181, 181, 177);
  border-radius: 10%;
}

.computer h1 {
  transform: translate(60%,-1168%);
  margin: 0 auto; 
}   

.computer img {
  
  width: 75px;
  height: 75px;
  display: block;
  padding: 20px;
  transform: translate(250%,-750%);
  margin: 0 auto; 
}

.reset {
  width: 50px;
  height: 50px;
  transform: translate(620%,-600%);
}
.reset:hover{
  background-color:grey
}

.message {
  text-align: center;
  color: rgb(194, 23, 23);
  display:inline-table;
  background-color:rgba(31, 205, 22, 0.739);
  font-size: 40px;
  flex-wrap: wrap;
  display:table;
  font-family: 'Rubik', sans-serif;
  
}
.box1 { 
  width: 200px; 
  height:100px; 
  color: white;
  font-size: 40px;
  
  padding-top:25px;
  flex-wrap: wrap;
  text-align:center;
  background: #10b92c;
  transform: translate(270%,-700%)rotate(-20deg);
}

.active {
  background:rgb(181, 181, 177);
  border-radius: 10%;
}

.score {
  margin-bottom: 10px;
  font-size: 30px; 
  transform: translate(0%,-550%);
}
.score-computer {
  transform: translate(68%,-1140%);
  color: rgb(237, 191, 153);
}

.score-player {
  transform: translate(27%,150%);
  color: rgb(237, 191, 153);
}

.player-rotate .fa-hand-rock:hover, .player-rotate .fa-hand-paper:hover, .player-rotate .fa-hand-scissors:hover {
  text-shadow: 2px 2px 30px black;
  cursor: pointer;
}
.game {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vs {
  text-align: center;
  color:red;
  font-family: 'Bungee', cursive;
  font-size: 10px;
  align-self: center;
}


/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px){
.header, .container {
float: none;
display: block;
}}
















