/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
} */
/* body {
  background: #76b8f5 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Berlin Sans FB';
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}
/* .navbar-light {
  background-color: #2530fe;
  box-shadow: 0px 14px 80px rgba(239, 70, 197, 0.438);
} */
/* .auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 900px;
  margin: auto;
  background: white;
  box-shadow: 0px 14px 80px rgba(47, 47, 70, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #5c8cfc;
  box-shadow: none;
}
.auth-wrapper h3 {
  font-family: 'Arial Black';
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
} */ */
/* .custom-control-label {
  font-weight: 400;
} */
.forgot-password,
.forgot-password a {
  font-size: 13px;
  padding-top: 10px;
  color: #626060;
  margin: 0;
}
.forgot-password a {
  color: rgb(63, 75, 231);
}
/* #__next {
  width: 100%;
} */
